@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 300ms ease;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin-top: 3.125rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 2.5rem;
  background: #f9f6ee;
}

.diabetes-info {
  border-top: 2px solid #9c9c9c;
}

.diabetes-info,
.lifestyle,
.index,
.plate-method,
.drugResearch {
  padding: 10px;
  border-bottom: 2px solid #9c9c9c;
  width: 100%;

  h3 {
    padding: 20px 0 20px 0;
    font-weight: 700;
  }

  ul > li {
    margin: 10px 0px 10px 0;
  }
  h5,
  h4 {
    padding: 10px 0 10px 0;
    font-weight: 500;
  }
  p {
    text-align: justify;
  }
}

.overview > p,
.lifestyle > p,
.index > p,
.plate-text > p {
  padding: 20px 0 20px 0;
  text-indent: 3rem;
}
p.source {
  text-indent: 0;
  padding: 0 0 10px 0;
  cursor: pointer;
  width: fit-content;
  text-decoration: underline;
  float: right;
  &:hover {
    color: #9c9c9c !important;
  }
}

p.no-indent {
  text-indent: 0;
  width: 100%;
  max-width: 50rem;
}

.plate-image {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  img {
    width: 100%;
    max-width: 300px;
    filter: drop-shadow(0px 2px 10px #1f1b1b);
  }
}
.plate-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .plate-image {
    display: none;
  }
}
