@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 300ms ease;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin-top: 3.125rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 2.5rem;
  background: #f9f6ee;
}

.diabetes-info {
  border-top: 2px solid #9c9c9c;
}

.diabetes-info,
.guidelines,
.medications {
  padding: 10px;
  border-bottom: 2px solid #9c9c9c;
  width: 100%;
}
